<div class="dots-container">
    <div class="sidebar">
        <h2> {{'LABELS.SETTINGS' | translate}}</h2>

        <form name="settingsForm" [formGroup]="settingsForm" novalidate>

            <div class="settings-group">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label> {{'COMPONENTS.DOTS.NROFEXERCISE' | translate}}</mat-label>
                    <input type="number" matInput formControlName="numberOfExercises">
                </mat-form-field>

                <div class="control-group">
                    <mat-label>{{'COMPONENTS.DOTS.NROFRECTANGLE' | translate}}</mat-label>
                    <mat-button-toggle-group formControlName="numberOfRectangles">
                        <mat-button-toggle value="0">0</mat-button-toggle>
                        <mat-button-toggle value="1">1</mat-button-toggle>
                        <mat-button-toggle value="2">2</mat-button-toggle>
                        <mat-button-toggle value="3">3</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>

                <div class="control-group">
                    <mat-label>{{'COMPONENTS.DOTS.NROFTRIANGLES' | translate}}</mat-label>
                    <mat-button-toggle-group formControlName="numberOfTriangles">
                        <mat-button-toggle value="0">0</mat-button-toggle>
                        <mat-button-toggle value="1">1</mat-button-toggle>
                        <mat-button-toggle value="2">2</mat-button-toggle>
                        <mat-button-toggle value="3">3</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>

            <h3>{{'LABELS.HELPS' | translate}}</h3>
            <div class="checkbox-group">
                <mat-checkbox color="primary" formControlName="helpSize">{{'COMPONENTS.DOTS.HELPWITHSIZE' | translate}}</mat-checkbox>
                <mat-checkbox color="primary" formControlName="helpColor">{{'COMPONENTS.DOTS.HELPWITHCOLOR' | translate}}</mat-checkbox>
            </div>

            <h3>{{'LABELS.HANDICAPS' | translate}}</h3>
            <div class="checkbox-group">
                <mat-checkbox color="primary" formControlName="hcMissingDot">{{'COMPONENTS.DOTS.MISSINGDOT' | translate}}</mat-checkbox>
                <mat-checkbox color="primary" formControlName="hcExtraDot">{{'COMPONENTS.DOTS.EXTRADOT' | translate}}</mat-checkbox>
                <mat-checkbox color="primary" formControlName="hcLargerObject">{{'COMPONENTS.DOTS.LARGEROBJECT' | translate}}</mat-checkbox>
                <mat-checkbox color="primary" formControlName="hcSmallerObject">{{'COMPONENTS.DOTS.SMALLEROBJECT' | translate}}</mat-checkbox>
            </div>

            <div class="actions">
                <button mat-raised-button (click)="generate()" [disabled]="settingsForm.invalid">{{'LABELS.GENERATE' | translate}}</button>
                <button mat-raised-button color="accent" styleSheetFile="assets/print.css" printSectionId="print-section" ngxPrint
                    [disabled]="!isGenerated">
                    <mat-icon>print</mat-icon>
                    {{'LABELS.PRINT' | translate}}
                </button>
            </div>
        </form>
    </div>

    <div class="drawing-section" id="print-section">
        <div class="watermark">{{'LABELS.WATERMARK' | translate: { value: 'https://rehapp.k-zsolt.com/' }  }}</div>
        <div #drawingArea></div>
    </div>
</div>
