@use '@angular/material' as mat;
@use '../theme-colors' as my-theme;

// Flex Layout Replacements
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
  overflow: auto;
}

.header {
    height: 5px;
    background-color: mat.m2-get-color-from-palette(my-theme.$accent);
}
.container {
    padding-top: 20px;
}

.fill-space {
    flex: 1 1 auto;
}

p.footer {
    font-size: 12px;
    font-weight: lighter;
    flex: 1 1 auto;
    text-align: center;
}


h1.title {
    font-weight: 300 !important; 
    font-size: 40px !important;
    flex: 1 1 auto;
    text-align: center;
    letter-spacing: 3px;
}

span.color {
    color: mat.m2-get-color-from-palette(my-theme.$accent);
}

a {
    color: mat.m2-get-color-from-palette(my-theme.$accent);
}
